/* @import url("themes/gruv-m.css"); */

* {
  font-family: monospace;
  font-size: 14pt;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

window#waybar {
  background-color: black;
  color: white;
}

#tags button,
#workspaces button {
  min-width: 20px;
  padding: 0 .2em;
}

#workspaces button.empty {
  color: white;
  background-color: black;
}

#workspaces button,
#tags button.occupied {
  background-color: darkgreen;
  color: black;
}

#tags button.focused,
#workspaces button.active {
  background-color: aquamarine;
  color: black;
}

#tags button.urgent,
#workspaces button.urgent {
  background-color: darkorange;
  color: black;
}

/* .modules-left, */
/* .modules-center, */
/* .modules-right { */
/* } */

#network,
#window,
#clock,
#workspaces,
#idle_inhibitor,
#pulseaudio,
#wireplumber,
#battery,
#tray {
  margin: 0 0.4em 0 0.4em;
}

#battery.warning {
  color: darkorange;
}

#battery.critical {
  color: crimson;
}

#battery.charging {
  color: darkgreen;
}

#battery.plugged {
  color: darkgreen;
}
